#ChatWindow {
  border-radius: 8px;
}

#participants {
  font-family: Monaco;
  size: 12pt;
}

#participants,
#messages {
  padding: 0;
  margin: 1em 0.5em;
  margin-bottom: 0;
  height: 70vh;
  overflow: scroll;
}
#messages::-webkit-scrollbar {
  display: none;
}

.nav-pills .nav-item {
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.row {
  display: flex;
}

#Channels {
  flex: 1;
}

#Channels ul {
  border: 1px solid #eee;
  border-left: 0;
  border-right: 0;
  margin: 0;
  padding: 2em 0.5em;
}

#Channels ul li {
  font-weight: bold;
  font-size: 14px;
  color: #646464;
}

#Channels ul a {
  text-decoration: none;
  color: black;
}

.row aside {
  flex: 5;
  border: 1px solid #eee;
}

#OpenChannel form {
  display: flex;
  height: 3em;
}

#OpenChannel form input {
  width: 100%;
  border: 1px solid #eee;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  font-size: 14px;
  padding: 5px 10px 5px 12px;
}

form input:focus {
  outline: none;
}

button:hover {
  opacity: 1;
}
button:active {
  opacity: 0.8;
}

.logout {
  text-align: right;
  margin: 1em;
}
