.Dropzone {
  position: absolute;
  width: 90%;
  margin: auto;
  height: 3em;
  background-color: #fff;
  border: 1px dashed grey;
  opacity: 0.3;
  visibility: visible;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 5em;
}

.Dropzone p {
  vertical-align: middle;
  line-height: normal;
}

.Highlight {
  border: 5px dashed green;
}

input#type-a-message {
  display: inline-block;
  width: 500px;
}
