.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg > div {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 5px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
  text-align: right;
  width: 99%;
}
.received_withd_msg {
  width: 75%;
}

.sent_msg > div {
  background: #05728f none repeat scroll 0 0;
  border-radius: 5px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 98%;
}
.outgoing_msg {
  overflow: hidden;
}
.sent_msg {
  display: inline-block;
  float: right;
  width: 70%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
